<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747387759853-d3ir8etq3b7kuf1k90l32fqhb55ih6nh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747387759853-d3ir8etq3b7kuf1k90l32fqhb55ih6nh</string>
	<key>API_KEY</key>
	<string>AIzaSyCU4EXDeSfdIG6YR6qQFnNwXn4mfdUqC4g</string>
	<key>GCM_SENDER_ID</key>
	<string>747387759853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nesco</string>
	<key>PROJECT_ID</key>
	<string>nesco-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nesco-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747387759853:ios:52cf35582431a4e1bab0e4</string>
</dict>
</plist>